.app-bar {
  align-items: center;
  background-color: #969696;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: flex-start;
  padding: 10px 10px 10px 6em;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    .title {
      font-size: 20px;
      padding: 10px 10px 10px 1rem;
    }
  }
}

@media (max-width: 768px) {
  .app-bar {
    padding-left: 1.5rem;
  }
}
