.title {
  text-align: center;
  font-size: 32px;
  line-height: 3rem;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  color: #7b7d7b;
}

.search-input {
  text-align: end;
  padding: 1.5rem 5rem 2rem 0;
  position: relative;

  input {
    height: 24px;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    padding: 3px;
    padding-right: 2rem;

    &:focus {
      outline: none;
    }
  }

  .separator {
    position: absolute;
    top: 50%;
    right: 7rem;
    transform: translateY(-68%);
    height: 20px;
    width: 1px;
    background-color: #ccc;
  }

  img {
    position: absolute;
    top: 50%;
    right: 5.5rem;
    transform: translateY(-68%);
  }
}

.infinite-scroll-component {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  margin: 2rem auto;
  width: 66%;
}
